*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 10px 50px;
}

.container{
    width: 760px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius:10px;
    padding: 5px 10px;
}
img{
    width: 300px;
    height: 300px;
}
li{
    list-style: none;
}